#progress {
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 1%;
  height: 10%;
}

#progressHeader {
  margin: 1% 1% 1% 1%;
  // width: 18%;
  text-align: center;
}

#progressBar {
  margin: auto 1% auto 1%;
  width: 58%;
}

#progressPercent {
  margin: auto 1% auto 1%;
  // width: 18%;
}